.developing_help_main {
  margin: 0;
  padding: 0;
  font-family: "Rubik Dirt", cursive, "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  background-image: url('/public/img/октябрь.jpg');
  background-repeat: no-repeat;
  background-size: 100%
}

.developing_help_a {
  color: rgb(1, 253, 169);
  text-decoration: none;
}

.developing_help_ol {
  color: rgb(1, 253, 169);
}
