.customsection {
  background-image: url(../../../public/img/404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #243946;
  background-attachment: fixed;
  height: 600px;
}

.applogo {
  width: 10%;
  height: 10%;
  transition: all 1.5s;
}

.applogo:hover {
  transition: all 2s;
  -webkit-transform: scale(1.5) rotate(1440deg);
  -ms-transform: scale(1.5) rotate(1440deg);
  transform: scale(1.5) rotate(1440deg);
}
