.code_pen_screen_main {
  margin: 0;
  padding: 0;
  font-family: "Rubik Dirt", cursive, "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  background-image: url('/public/img/кот.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -300px 300px 300px 300px #302a36, 300px 300px 300px 300px #1a9dcb, 300px -300px 300px 300px #5c596a;
}

.code_pen_screen_a {
  color: #33fd01;
  text-decoration: none;
}

.code_pen_screen_ol {
  color: #33fd01;
}
