.python_help_main {
  margin: 0;
  padding: 0;
  font-family: "Rubik Dirt", cursive, "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  background-image: url('/public/img/грозовой перевал.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -300px 300px 300px 300px #a64204, 300px 300px 300px 300px #5fb8c6, 300px -300px 300px 300px #11417c;
}

.python_help_a {
  color: rgb(30, 253, 1);
  text-decoration: none;
}

.python_help_ol {
  color: rgb(30, 253, 1);
}
